*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header {
    text-align: left;
    padding: 10px;
    background-color: cadetblue;
}

.topnav{
    width: 100%;
    overflow: auto;
}

.topnav a{
    float: left;
    padding: 10px;
    color: white;
    font-size: 35px;
    width: 30%;
    text-align: center;
}

.topnav a:hover{
    color: black;
}

.topnav a:active{
    color:grey;
}

.myimage{
    background-color: grey;
    padding: 20px;
}

.selfimage {
    width: fit-content;
}

.box {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
}

.info {
    width: 50%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: cadetblue;
    padding: 5px;
    margin: 15px;
    width: 20%;
}

.edit {
    text-align: center;
    border-style: none;
    border-radius: 2px;
}

.col:hover {
    border-color: black;
}

