*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header {
    text-align: left;
    padding: 10px;
    background-color: cadetblue;
}

.topnav{
    width: 100%;
    overflow: auto;
}

.topnav a{
    float: left;
    padding: 10px;
    color: white;
    font-size: 35px;
    width: 30%;
    text-align: center;
}

.topnav a:hover{
    color: black;
}

.topnav a:active{
    color:grey;
}

.myimage{
    background-color: grey;
    padding: 20px;
}

.selfimage {
    width: fit-content;
}


.box, .first {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    padding: 10px;
}

.box {
    margin-top: 30%;
}

.info {
    width: 50%;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
}

.large {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: cadetblue;
    padding: 200px;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 20%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Sandy_Pond_Beach%2C_New_York%2C_20090523.JPG/1200px-Sandy_Pond_Beach%2C_New_York%2C_20090523.JPG)
}

.group:hover {
    border-color: black;
}

.hello {
    text-align: right;
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: cadetblue;
    padding: 5px;
    margin: 15px;
    width: 20%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Sandy_Pond_Beach%2C_New_York%2C_20090523.JPG/1200px-Sandy_Pond_Beach%2C_New_York%2C_20090523.JPG);
}

.edit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-style: none;
    border-radius: 2px;
}



.col:hover{
    border-color: black;
    
}

h2 {
    font-style: italic;
    text-align: center;
}

footer {
    background-color: cadetblue;
    margin-top: 50%;
    padding: 30px;
}

.bottom-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 25px;
}

.bottom-nav a:hover {
    color: black;
}

.bottom-nav a:active {
    color: grey;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}


@media screen and (max-width:992px) {
    .col, .topnav {
        width: 50%;
    }
}

@media screen and (max-width:768) {
    .col, .topnav {
        width: 100%;
    }
    
}